<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>STYuanti-SC-Regular</string>
	<string>STHeitiSC-Light</string>
	<string>STSong</string>
	<string>STKaiti</string>
	<string>STXihei</string>
	<string>STFangsong</string>
	<string>STXingkai-SC-Bold</string>
	<string>STKaiti-SC-Regular</string>
</array>
</plist>
